.testimoni-description {
  font-weight: 500;
  font-size: 30.06px;
  line-height: 36px;
  margin-bottom: 30px;
}

.testimoni-user {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.testimoni-job {
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
}

.testimoni-arrow-left {
  margin-left: -280px;
}

.testimoni-arrow-right {
  margin-right: -280px;
}
